<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Db.Properties.Settings.dataBase0" connectionString="Data Source=.\\sqlexpress,1433;Initial Catalog=DataBase;Integrated Security=false;User ID=AppUser;Password=AppPass" />
        <add name="Db.Properties.Settings.dataBase1" connectionString="Data Source=Developer2022;Initial Catalog=Test;Integrated Security=True;TrustServerCertificate=True; User ID=SQL_User_App;Password=User$Pass" />
    </connectionStrings>
</configuration>